/* Member 1-2 */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

Html {
    font-family: 'Open Sans', sans-serif;
}

button {
    color: white;
    padding: 10px;
    width: 9rem;
    font-size: 1.2rem;
    border-color: transparent;
    border-radius: 25px;
}



nav {
    padding: 10px;
    position: sticky;
    top: 0;
    z-index: 1;
    background-color: white;
}

.right-nav {
    float: right;
}

nav li {
    list-style: none;
    display: inline-block;
}

.nav,
.nav-logo {
    margin: 5px;
    padding: 5px;
}





/* Member 3-4 */
#logo {
    padding-top: 10px;
    padding-left: 10px;
}

.tuitt-button {
    background-color:  #c2195b;
}

#bg-image {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0)),
                url("https://d3ojsfl21hfxhc.cloudfront.net/assets/zuitt/programdetails2_w.jpg");
    background-repeat: no-repeat;   
    background-size: cover;
    background-position: center;
    padding-top: 50px;
    padding-bottom: 50px;
    color: white;
}

.container {
    text-align: right;
    width: 40%;
    position: relative;
    left: 55%;
}

.title {
    font-family: 'Zilla Slab', serif;
    font-size: 3.5rem;
    font-weight: bold;
}

.subtitle {
    font-size: 1.7rem;
    font-weight: lighter;
    width: 75%;
    margin-left: auto;
    margin-top: 10px;
}

.apply-button {
    margin-top: 10px;
    background-color: #c2195b;
}





/* Member 5 */

#main {
    padding-top: 100px;
    text-align: center;
}

.title-2 {
    font-family: 'Zilla Slab', serif;
    font-size: 2rem;
    font-weight: bold;
}
.description {
    margin-top: 70px;
    margin-bottom: 70px;
    font-weight: 400;
}

footer {
    margin-top: 20px;
    padding: 10px;
    text-align: center;
}

footer span {
    margin-left: 10px;
    margin-right: 10px;
    font-weight: 400;
}