/* Start of Member 2 to 3 */
#external {
    color: yellow;
}
{
  font-family: "Verdana" ,sans-serif;
  font-size: 20px;
}
h1 {
    font-size: 3rem;
}
#sub-header {
    text-transform: uppercase;
}
.text-green {
    background: green;
}
/* End of Member 2 to 3 */



/* Start of Member 4 to 5 */
img + ul {

  list-style:none;
}

section img {
  width: 20vh;
  height: 20vh;
   border-radius: 100px;
}


section  > ul > li {
    letter-spacing: 10px;
  }

.border-blue
         {
            border: 2px solid blue;
        }

  h4 ~ p {

     text-align: center;
  }
/* End of Member 4 to 5 */
