* {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1, h2, h3, h4 {
  font-family: 'Verdana', sans-serif;
}
nav {
  padding: 5px;
  text-align: center;
  background: lightblue;
}
nav li {
  display: inline-block;
  text-decoration: none;
  margin: .5rem;
  padding: 3px;
}
#landing {
  background-image: url(https://i.pinimg.com/564x/70/c4/43/70c443b4a744e08e58dc4a6fe4b12ccb.jpg);
  background-position: center ;
  background-size: cover;
  background-repeat: no-repeat;
  text-align: center;
  height: 50vh;
  color: white;
}
#landing h1 {
  padding-top: 50px;
  font-size: 3rem;
}
#landing h3 {
  margin: 1rem;
}
#landing button {
  padding: .5rem;
  background: pink;
  border: 2px solid white;
  border-radius: 15px;
}
#hot {
  text-align: center;
}
#hot h2 {
  margin-top: 25px;
  margin-bottom: 25px;
}
#hot li {
  display: inline-block;
  text-decoration: none;
  border: 2px solid pink;
  border-radius: 15px;
  padding: 3rem;
  margin-left: .5rem;
  margin-right: .5rem;
}
